@import url('https://fonts.googleapis.com/css2?family= Kablammo & display=swap') ;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kablammo', cursive;
}


.button1 {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 0;
    font-weight: 400;
    background-color: #ffffff;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #999999;
    background-color: #ffffff;
    border: 3px solid #ff914d;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

.btn.btn-border::after,
.btn.btn-border::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border:hover {
    color: #222222;
}

.btn.btn-border:hover::after,
.btn.btn-border:hover::before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-color: #42db2b;
}

.button2 {
    margin: auto;
    background-color: #42db2b;
    width: 15px;
    height: 25px;
}