@import url('https://fonts.googleapis.com/css2?family= Kablammo & display=swap') ;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kablammo', cursive;
}


.container {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 0;
    font-weight: 400;
    background-color: #ffffff;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #999999;
    background-color: #ffffff;
    border: 3px solid #ff914d;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
}